[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox 52 ESR
Comment=Legacy Java-compatible Firefox
Exec=/home/docker/firefox52/firefox
Icon=/home/docker/.icons/firefox.png
Terminal=false
Categories=Network;WebBrowser;
Path=/home/docker/firefox52
