[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox 45
Comment=Legacy Java-compatible Firefox
Exec=/home/docker/firefox45/firefox
Icon=/home/docker/.icons/firefox.png
Terminal=false
Categories=Network;WebBrowser;
Path=/home/docker/firefox45
